.content {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
}

.content .image {
  padding: 1rem;
  width: 10rem;
  height: 10rem;
}

.date__content {
  padding: 1rem;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.date__content .time {
  margin: 0;
}

.date__content .date {
  margin: 0.5rem 0;
}

.name__content {
  margin: 0 1rem 0 auto;
}

@media only screen and (max-width: 480px) {
  .content {
    flex-wrap: wrap;
  }

  .content .image {
    padding: 1rem;
    height: auto;
    max-height: 13rem;
    width: 100%;
  }

  .date__content {
    padding-bottom: 0;
  }

  .name__content {
    flex: 1 1 12rem;
    padding: 0 0 0 1rem;
  }

  .name__content .name {
    margin-top: 0;
  }
}
